<mat-card>
  <mat-card-title>Hornet Konfiguration</mat-card-title>
  <form ngForm="configForm"
        class="config"
        name="hornetConfig">
    <mat-form-field>
      <input matInput
             name="profile"
             type="text"
             [(ngModel)]="config.profile"
             placeholder="Profil">
    </mat-form-field>
    <br/>
    <mat-form-field>
      <input matInput
             name="path"
             type="text"
             [(ngModel)]="config.path"
             placeholder="Pfad zum Arma-Ordner">
      <mat-hint align="start">z.B. <strong>A:\ArmA\steamapps\common\Arma 3</strong></mat-hint>
    </mat-form-field>
    <br/>
    <mat-form-field>
      <input matInput
             name="parameters"
             type="text"
             [(ngModel)]="config.parameters"
             placeholder="Startparameter">
      <mat-hint align="start">z.B. <strong>-nosplash -world=empty -skipIntro</strong></mat-hint>
    </mat-form-field>
  </form>
  <br/>
  <button mat-raised-button
          color="primary"
          (click)="onSubmit(config)">
    <mat-icon>save</mat-icon>
    Speichern
  </button>
</mat-card>
