<mat-card>
  <mat-card-title>Hornet Konfiguration</mat-card-title>

  <form ngForm="configForm"
        class="config">
    <mat-form-field>
      <input matInput
             #profile
             name="profile"
             placeholder=" Profil">
    </mat-form-field>

    <mat-form-field>
      <input matInput
             #path
             placeholder="Pfad zum Arma-Ordner">
      <mat-hint align="start">z.B. <strong>A:\ArmA\steamapps\common\Arma 3</strong></mat-hint>
    </mat-form-field>

    <mat-form-field>
      <input matInput
             #parameters
             placeholder="Startparameter">
      <mat-hint align="start">z.B. <strong>-nosplash -world=empty -skipIntro</strong></mat-hint>
    </mat-form-field>
  </form>

  <button mat-raised-button
          color="primary"
          (click)="onSubmit()">
    <mat-icon>save</mat-icon>
    Speichern
  </button>
</mat-card>
