<mat-sidenav-container class="app">
  <mat-sidenav mode="side"
               opened="true"
               class="menu">
    <mat-toolbar>
      <img src="./favicon.512x512.png" alt="Echo12">

      <mat-toolbar-row class="menu-sub-item">
        <button mat-button
                class="menu-button"
                (click)="selectedMenu = MenuItem.HORNET_START">
          <mat-icon>play_arrow</mat-icon>
          Start
        </button>
      </mat-toolbar-row>

      <mat-toolbar-row class="menu-sub-item">
        <button mat-button
                class="menu-button"
                (click)="selectedMenu = MenuItem.HORNET_CONFIG">
          <mat-icon>settings</mat-icon>
          Konfiguration
        </button>
      </mat-toolbar-row>

      <mat-toolbar-row class="menu-last-item">
        <button mat-button
                class="menu-button"
                (click)="selectedMenu = MenuItem.SETTINGS">
          <mat-icon></mat-icon>
          Version {{version}}
        </button>
      </mat-toolbar-row>

    </mat-toolbar>
  </mat-sidenav>


  <div class="content" [ngSwitch]="selectedMenu">
    <app-hornet-start *ngSwitchCase="MenuItem.HORNET_START"></app-hornet-start>
    <app-hornet-config *ngSwitchCase="MenuItem.HORNET_CONFIG"></app-hornet-config>
    <app-general-settings *ngSwitchCase="MenuItem.SETTINGS"></app-general-settings>
  </div>


</mat-sidenav-container>
