<mat-sidenav-container class="app">
  <mat-sidenav mode="side"
               opened="true"
               class="menu">
    <div>
      <img src="../assets/logo-echo.png" alt="Echo 12">
    </div>

    <mat-list>
      <h3 mat-subheader>Hornet</h3>
      <button mat-button
              class="menu-button"
              (click)="selectedMenu = MenuItem.HORNET_START">
        <mat-icon>play_arrow</mat-icon>
        Start
      </button>
      <button mat-button
              class="menu-button"
              (click)="selectedMenu = MenuItem.HORNET_CONFIG">
        <mat-icon>settings</mat-icon>
        Config
      </button>

      <mat-divider></mat-divider>

      <h3 mat-subheader>Mantis</h3>
    </mat-list>
  </mat-sidenav>


  <div class="content" [ngSwitch]="selectedMenu">
    <app-hornet-start *ngSwitchCase="MenuItem.HORNET_START"></app-hornet-start>
    <app-hornet-config *ngSwitchCase="MenuItem.HORNET_CONFIG"></app-hornet-config>
  </div>


</mat-sidenav-container>
