.echo-snack-bar {
  background-color: #7ba628 !important;
}

html body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

app-root {
  height: 100%;
}

mat-sidenav-content {
  margin-left: 237px !important;
}

mat-slide-toggle {
  display: block !important;
}

.mat-form-field {
  display: block !important;
  width: 500px;
}

.mat-card {
  margin: 10px;
}

.mat-card-actions {
  margin: 0 !important;
  padding: 0 !important;
}
