<mat-card *ngFor="let serverList of serverLists; let listIndex=index">
  <mat-card-title>
    {{ serverList.name }}
  </mat-card-title>

  <mat-card-content>
    <table>
      <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Host</th>
        <th>Start</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let serverInstance of serverList.instances; let instanceIndex=index">
        <td>
          <span [hidden]="serverInstance.isRunning !== true">
            <mat-icon style="color: #7BA628">check_circle</mat-icon>
          </span>
          <span [hidden]="serverInstance.isRunning !== undefined">
            <mat-icon style="color: #3D63B3">panorama_fish_eye</mat-icon>
          </span>
          <span [hidden]="serverInstance.isRunning !== false">
            <mat-icon style="color: #F24E2E">remove_circle</mat-icon>
          </span>
        </td>
        <td>{{ serverInstance.name }}</td>
        <td>{{ serverInstance.host }}:{{ serverInstance.port }}</td>
        <td>
          <button mat-raised-button
                  color="primary"
                  class="menu-button"
                  (click)="launch(listIndex, instanceIndex, true)">
            <mat-icon>play_arrow</mat-icon>
            x64
          </button>
          <button mat-raised-button
                  class="menu-button"
                  (click)="launch(listIndex, instanceIndex, false)">
            <mat-icon>play_arrow</mat-icon>
            x32
          </button>
        </td>
      </tr>
      </tbody>
    </table>
    <small>Zuletzt Aktualisiert: {{lastUpdate}}</small>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button
            color="primary"
            class="menu-button"
            (click)="getServerLists(true)">
      <mat-icon>autorenew</mat-icon>
      Aktualisieren
    </button>
  </mat-card-actions>

</mat-card>
