@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./e12theme";

html body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

app-root, mat-sidenav-container {
  height: 100%;
}

.content {
  height: 100%;
}

app-hornet-start {
  height: 100%;
}

mat-tab-group {
  height: 100%;
}

mat-tab-body {
  height: 100%;
}

mat-slide-toggle {
  display: block !important;
}

.mat-tab-body-content {
  padding: 10px;
}

mat-expansion-panel {
  margin-top: 10px !important;
}

.mat-form-field {
  display: block !important;
  width: 500px;
}

.mat-raised-button.mat-primary {
  color: white;
}

.echo-snack-bar {
  background-color: #7ba628 !important;
}

.preformatted {
  font-family: monospace;
  overflow-wrap: break-word;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.menu-item, .menu-sub-item .menu-last-item {
  height: 100%;
  max-height: 32px;
}

.menu-last-item {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 255px !important;
}

.bottom {
  position: fixed;
  bottom: 0;
}

.menu, .mat-toolbar {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
  //margin-right: 15px;
  color: #7ba628;
  height: 100%;
  background-color: #fff;
  width: 256px;
}

.menu-button {
  width: 100%;
  text-align: left !important;
}

img {
  width: 245px;
  height: 245px;
  padding: 5px;
}
